
<h2>Details About {{model.band}}'s {{model.date}} Concert in {{model.city}}</h2>

<img src="{{model.image}}" alt="Image">



{{update-event event=model update="update"}}

{{event-detail event=model destroyEvent="destroyEvent" destroyReview="destroyReview"}}

{{new-review saveReview="saveReview" event=model}}

<h1> Concert Reviews </h1>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}} - {{review.content}} - by {{review.author}}
      <button id="deleteButton" {{action 'destroyReview' review}}>Delete Review</button>
    </li>
  {{/each}}
</ul>
